* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: "Rubik", sans-serif;
}
main {
	height: 100vh;
}

.search-area {
	position: relative;
	height: 35%;
	background-image: url("../images/pattern-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	&__content {
		text-align: center;
	}
	&__title {
		padding: 2rem 0;
		font-size: 2.2rem;
		font-weight: 500;
		color: #fff;
	}

	/* SEARCH BTN */
	&__search-field {
		position: relative;
		max-width: 560px;
		width: 80%;
		margin: 0 auto;
		padding-bottom: 2rem;
		border-radius: 25px;
	}
	&__input {
		width: 100%;
		height: 4rem;
		padding: 1rem;
		border-radius: 15px;
		border: none;
		cursor: pointer;
		outline: none;
		color: hsl(0, 0%, 17%);
	}
	&__btn {
		position: absolute;
		top: 0;
		right: 0;
		height: 4rem;
		width: 4rem;
		transition: 0.5s;
		cursor: pointer;
		border: none;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		background-color: black;
		&:hover {
			background-color: hsl(0, 0%, 17%);
		}
	}
}

/* DATA */
.data-container {
	position: absolute;
	top: 37vh;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 1150px;
	width: 80%;
	margin: 0 auto;
	border-radius: 15px;
	text-align: center;
	z-index: 9999;
	background-color: #fff;
	&__title {
		padding-top: 1rem;
		font-size: 1.2rem;
		font-weight: 700;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: hsl(0, 0%, 59%);
	}

	&__content {
		min-height: 4rem;
	}

	&__data {
		padding-bottom: 1rem;
		font-size: 15px;
		font-weight: bold;
		color: hsl(0, 0%, 17%);
	}
}

hr {
	display: none;
}

.map-container {
	min-height: 70%;
}
.attribution {
	text-align: center;
}

@media (min-width: 600px) {
	html {
		font-size: 75%;
	}
	.search-area__input {
		font-size: 1.6rem;
	}
}
@media (min-width: 1000px) {
	.search-area__title {
		font-size: 3rem;
	}
	.data-container {
		display: flex;
		min-height: 13.5rem;
		padding-right: 2rem;
        &__content {
            width: 25%;
            padding: 2rem 1rem;
            text-align: start;
        }
        &__data {
            padding-top: 1rem;
            font-size: 2rem;
        }
	}

	hr {
		display: block;
		margin: 4rem 0;
	}
}

@media (min-height: 700px) {
	.search-area {
		height: 30%;
	}
	.data-container {
		top: 30vh;
	}
}
